<br>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/livescore">LiveScore</a></li>
            <li class="breadcrumb-item active" aria-current="page">Statistics</li>
        </ol>
    </nav>
    <br><br>
    
    <div class="card" style="border-radius: 15px;">
        <div class="card-body">
             <app-barchart></app-barchart>
        </div>
    </div>
</div>