<div class="row">
    <div class="col-md-12">
        <footer class="footer">				
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-xs-12 ">
                <h2>Scoreboard</h2>
  
                <p><b>&nbsp;&nbsp;Stay In Touch</b></p>
                <div class="footer-social-links m-t-30">
                  <li>
                      <a href="#">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-youtube" aria-hidden="true"></i>
                      </a>
                  </li>
              </div>
                
            </div>
            <div class="col-lg-4 col-xs-12">
              
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="footer-title mt-lg-0 mt-sm-4">
                    Support
                </div>
                <p>Virtusa</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                <p><i class="fa fa-envelope-o mr-3"></i>info@virtusa.com</p>	
                
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
   <p> © 2020, All Rights Reserved</p>
</div>
    </div>
</div>